h1{
    border: 1px black solid;
    font-size: 40px;
    line-height: 200%;

}

span {
    background-color: blanchedalmond;
    border: 1px black solid;
  
}


section {
    height: 600px;
    width:  600px;
    background-color: bisque;
}

section div {
    background-color: pink;
    width: 50%;
    height: 50%;
}
